* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Vmake1738242988733.png);
    font-family: "Montserrat Alternates", serif;
    font-weight: 500;
    font-style: normal;
}

.myHeader {
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 30px;
    animation: animHeader 2.5s forwards;
}
@keyframes animHeader {
    0% {
        backdrop-filter: blur(0px);
        background-color: rgba(0, 0, 0, 0);
    }
    50% {
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.119);
    }
    100% {
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.296);
    }
}
.myHeader a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}
.headerLeft {
    width: 500px;
    margin-right: -100px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.headerMiddle a img {
    width: 200px;
}
.headerMiddle {
    width: 80px;
    margin-top: -14px;
}
.headerRight {
    width: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.orangeButton {
    width: 260px;
    height: 50px;
    margin-top: -10px;
    background-color: #FA6312;
    border-radius: 15px;
    padding-top: 10px;transition-duration: 0.1s;
    text-decoration: none;
    box-shadow: 0 7px 0px #933d0f;
    position: relative;
    top: 0px;
}
.orangeButton:active {
    top: 3px;
    box-shadow: 0 2px 0px #933d0f;
}
.languageButton {
    width: 53px;
    height: 50px;
    margin-top: -10px;
    padding-top: 7px;
    border-radius: 15px;
    border: 3px solid white;
    text-decoration: none;
    box-shadow: 0 7px 0px #7a7a7a;
    position: relative;
    top: 0px;
}
.languageButton:active {
    top: 3px;
    box-shadow: 0 2px 0px #7a7a7a;
}
.headerLeft a:after, .headerRight .color:after {
    content: "";
    background-color: #EEEEEE;
    display: block;
    height: 2px;
    width: 0%;
    transition: 0.3s ease-in-out;
}
.headerLeft a:hover:after, .headerRight .color:hover:after {
    width: 100%;
}

.myMainOne {
    margin-bottom: 70px;
}
.myImg img {
    margin: auto;
    animation: anim 2.5s forwards,
    circle 10s infinite linear;
}
@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.myMainOne .mars {
    position: relative;
    margin-left: 240px;
    margin-top: 20px;
    animation: ani 10s forwards infinite linear
    rotate 10s forwards;
}
.myMainOne .quo {
    position: relative;
    margin-left: 240px;
    margin-top: 20px;
}
.myMainOneMiddle .textOne {
    font-size: 4.6rem;
    color: #EEEEEE;
    position: absolute;
    top: 290px;
    margin-left: 110px;
}
.textOne span, .textTwo span, .myMainUnderTop span {
    color: #FA6312;
}
.myMainOneMiddle .textTwo {
    font-size: 4.6rem;
    color: #EEEEEE;
    position: absolute;
    top: 380px;
    margin-left: 410px;
}
.myMainOneMiddle h1, .myMainUnderTop h2 {
    font-weight: 600;
}
.myMainOneLeft {
    position: absolute;
    top: 315px;
    /* margin-left: -220px; */
    animation: aniLeft 2.5s forwards;
}
@keyframes aniLeft {
    0% {
        transform: translateX(-900px);
    }
    100% {
        transform: translateX(-220px);
    }
}
.myMainOneRight {
    position: absolute;
    top: 340px;
    /* margin-left: 900px; */
    animation: aniRight 2.5s forwards;
}
@keyframes aniRight {
    0% {
        transform: translateX(-900px);
    }
    100% {
        transform: translateX(900px);
    }
}
.myMainUnder {
    width: 1200px;
    height: 160px;
    position: absolute;
    background-color: #EEEEEE;
    border-radius: 35px;
    top: 520px;
    margin-left: 50px;
    animation: animUnder 2s;
}
@keyframes animUnder {
    from {
        background-color: #eeeeee00;
    }
      to {
        background-color: #EEEEEE;
    }
}
.myMainUnderTop h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
.myMainUnderBottom {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.myMainUnderBottom .inp {
    border: 3px solid #FA6312;
    border-radius: 15px;
    padding: 5px;
    background-color: #EEEEEE;
    font-weight: 600;
    font-size: 20px;
}
.myMainUnderBottom a {
    border: 3px solid #FA6312;
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    background-color: #FA6312;
    color: #EEEEEE;
    font-weight: 600;
    font-size: 20px;
    transition-duration: 0.1s;
    text-decoration: none;
    box-shadow: 0 7px 0px #933d0f;
    position: relative;
    top: 0px;
}
.myMainUnderBottom a:active {
    top: 3px;
    box-shadow: 0 2px 0px #933d0f;
 }
.myMainUnderBottom input::placeholder {
    color: #fa63128f;
}

.myMainUnderSale {
    height: 70px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 680px;
    background-color: black;
}
.myMainUnderSale h5 {
    color: #FA6312;
    padding-top: 6px;
    font-size: 1.8rem;
}
.timer {
    display: flex;
    padding-top: 5px;
    font-size: 1.6rem;
    margin-left: 10px;
    color: #FA6312;
}
  
.timerDays::before, .timerHours::before, .timerMinutes::before, .timerSeconds::before {
    content: "";
}

.myMainTwo {
    /* width: 100%; */
    height: 36rem;
    margin-top: 150px;
    background-color: #EEEEEE;
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    /* opacity: 0; */;
}
.myMainTwoAnim {
    animation: animMainTwo 2.5s forwards;
}
@keyframes animMainTwo {
    0% {
        transform: translateX(-900px);
    }
    100% {
        transform: translateX(0);
    }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.myMainTwoBlockLeft {
    width: 33rem;
    margin-top: 3%;
    margin-left: 5%;
}
.myMainTwoBlockLeft h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 0.8;
}
.hTwoOrange {
    color: #FA6312;
    margin-left: 5rem;
    margin-bottom: 2rem;
}
.textP {
    font-size: 1.3rem;
    font-weight: 600;
}
.myStarOne {
    margin-left: -30%;
    margin-top: -30%;
    transform: rotate(350deg);
    z-index: 999;
    width: 10rem;
}
.myMainTwoBlockRight {
    width: 33rem;
}
.myStarTwo {
    margin-left: 86%;
    margin-top: -10%;
    z-index: 999;
}
.carusel {
    width: 34rem;
    margin-top: -18%;
    margin-left: -6%;
}
.myVector {
    margin-left: -300%;
}
.myMainThree {
    width: 100%;
    margin-top: 260px;
    display: flex;
    justify-content: space-between;
}
.myMainThreeLeft {
    width: 640px;;
}
.myMainThreeLeftAnim {
    animation: animMainThree 2.5s forwards;
}
@keyframes animMainThree {
    0% {
        transform: translateY(500px);
    }
    100% {
        transform: translateY(0);
    }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.myMainThreeRight {
    width: 640px;
    margin-top: 100px;
}
.myMainThreeRightTop {
    display: flex;
    justify-content: space-around;
}
.myMainThreeRightTopLeftTop, .myMainThreeRightTopRightTop, .myMainThreeRightBottomLeftTop {
    padding-left: 210px;
    padding-top: 15px;
}
.myMainThreeRightTopLeftTop img, .myMainThreeRightTopRightTop img, .myMainThreeRightBottomLeftTop img {
    width: 50px;
}
.myMainThreeRightTopLeftBottom h2, .myMainThreeRightTopRightBottom h2, .myMainThreeRightBottomLeftTop h2 {
    font-size: 4.1rem;
    text-align: center;
    color: #EEEEEE;
    padding-top: 15px;
}
.myMainThreeRightTopLeftBottom p, .myMainThreeRightTopRightBottom p, .myMainThreeRightBottomLeftTop p {
    font-size: 1.5rem;
    text-align: center;
    color: #EEEEEE;
    margin-top: -12px;
}
.myMainThreeRightBottomRight h2 {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 0.6;
    margin-left: 30px;
    margin-top: 40px;
}
.white {
    color: #EEEEEE;
}
.oran {
    color: #FA6312;
}
.myMainThreeRightBottom {
    display: flex;
    justify-content: space-around;
}
.myMainThreeRightTopLeft, .myMainThreeRightTopRight, .myMainThreeRightBottomLeft {
    width: 320px;
    height: 206px;
    background-color: #FA6312;
    border-radius: 60px;
    margin-bottom: 25px;
    margin-left: 25px;
    box-shadow: 0 10px 0px #933d0f;
    position: relative;
    top: 0px;
}
.myMainThreeRightTopLeft:active, .myMainThreeRightTopRight:active, .myMainThreeRightBottomLeft:active  {
    top: 3px;
    box-shadow: 0 2px 0px #933d0f;
}
.myMainThreeRightBottomRight {
    width: 320px;
    height: 206px;
}
.about {
    display: none;
}

.myMainFour {
    margin-top: 170px;
}
.products {
    display: flex;
    margin-left: 20rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.productsMiddle h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 0.8;
    color: #EEEEEE;
}
.productsMiddle {
    margin-top: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.productsLeft img, .productsRight img {
    width: 70px;
}
.productsRight img {
    margin-top: 0.2rem;
}
.myMainFourHouses {
    display: flex;
    height: 30rem;
}
.imgTwo {
    margin-right: 1rem;
    flex: 3;
    border-radius: 32px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease;
}
.myMainFourHouses .imgTwo:hover {
    flex: 8;
    .count {
        display: block;
        text-align: right;
        margin-right: 20px;
        margin-top: 20px;
        color: #EEEEEE;
    };
    .nameHouse {
        display: block;
        color: #EEEEEE;
        margin-top: 20rem;
        font-size: 2rem;
        margin-left: 20px;
    }
}
.nameHouse {
    display: none;
}
.count {
    display: none;
}

.myMainFive {
    width: 91.9rem;
    height: 284px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
    background-color: #EEEEEE;
    border-radius: 10px;
}
.discount {
    position: relative;
    width: 305px;
    height: 185px;
    background-color: #FA6312;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    box-shadow: 0 10px 0px #933d0f;
}
.discount:hover {
    height: 335px;
}
.dOne {
    width: 385px;
}
.dLeft {
    margin-left: 15px;
}
.dRight {
    margin-right: 15px;
}
.discount img {
    width: 247px;
}
.discountImgOne {
    margin: auto;
    margin-top: -30px;
    margin-bottom: 260px;
}
.discountImgTwo {
    margin: auto;
    margin-top: -45px;
    margin-bottom: 260px;
}
.discountImgThree {
    margin: auto;
    margin-top: -120px;
    margin-bottom: 200px;
}
.discountImgFour {
    margin: auto;
    margin-top: -50px;
    margin-bottom: 260px;
}
.discountImgOne img {
    width: 350px;
}
.discountImgTwo img {
    width: 250px;
}
.discountImgThree img {
    width: 290px;
}
.discountImgFour img {
    width: 290px;
}
.discount p {
    font-weight: 600;
}
.content {
    position: relative;
    color: #EEEEEE;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -200px;
    display: none;
}
.discount:hover .content {
    display: block;
    transition-delay: 0.3s;
}

.myMainSix {
    margin-top: 150px;
}
.myMainSixTop h2 {
    font-size: 4rem;
    font-weight: 600;
    color: #EEEEEE;
}
h2 span {
    color: #FA6312;
}
.myMainSixBottom input  {
    background-color: black;
    border: 3.3px solid #EEEEEE;
    padding: 13px;
    border-radius: 15px;
    margin-right: 30px;
    font-size: 1.2rem;
    color: #EEEEEE;
    font-weight: 600;
}
.myMainSixBottom {
    margin-top: 50px;
}
.myMainSixBottom button {
    background-color: #FA6312;
    border: 3.3px solid #FA6312;
    padding: 13px;
    width: 280px;
    margin-left: 25px;
    border-radius: 13px;
    font-size: 1.2rem;
    color: #EEEEEE;
    font-weight: 600;
    box-shadow: 0 10px 0px #933d0f;
    position: relative;
    top: 0px;
}
.myMainSixBottom button:active {
    top: 3px;
    box-shadow: 0 2px 0px #933d0f;
}

.myMainSeven {
    margin-top: 150px;
    margin-bottom: 20px;
}
.myMainSevenTop h2 {
    font-size: 4rem;
    font-weight: 600;
    color: #EEEEEE;
}
.myMainSevenBottomLeft img, .myMainSevenBottomMiddle img, .myMainSevenBottomRight img, .myMainSevenBottomRightTwo img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.myMainSevenBottom p, .myMainSevenBottomTwo p {
    color: #EEEEEE;
    font-size: 1.4rem;
    padding-top: 10px;
}
.myMainSevenBottom, .myMainSevenBottomTwo {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.myMainSevenBottomLeft, .myMainSevenBottomMiddle, .myMainSevenBottomRight, .myMainSevenBottomRightTwo {
    display: flex;
    justify-content: space-around;
}
.myMainSevenBottomRightTwo {
    display: none;
}
.myMainSevenBottomMiddle p {
    margin-left: -50px;
}
.myMainSevenBottomRight p {
    margin-left: -70px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .myImg .mars {
        margin-left: 18%;
    }
    .myMainOneMiddle .textOne {
        font-size: 4.4rem;
        margin-left: 14%;
    }
    .myMainOneMiddle .textTwo {
        font-size: 4.4rem;
        margin-left: 30%;
    }
    .myMainOneLeft {
        margin-left: 4%;
    }
    .myMainOneRight {
        margin-left: 74%;
    }
    .myMainUnder {
        margin-left: 4%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .myHeader {
        margin-left: 3%;
    }
    .myHeader a {
        font-size: 1.1rem;
    }
    .headerLeft {
        width: 40%;
    }
    .headerRight {
        width: 45%;
    }
    .orangeButton {
        width: 190px;
        padding-top: 11px;
    }
    .languageButton {
        padding-top: 9px;
    }
    .myImg .mars {
        margin-left: 6%;
    }
    .myMainOneMiddle .textOne {
        font-size: 4rem;
        margin-left: 1%;
    }
    .myMainOneMiddle .textTwo {
        font-size: 4rem;
        margin-left: 26%;
    }
    .myMainOneLeft {
        /* margin-left: -4%; */
        top: 350px;
    }
    @keyframes aniLeft {
        0% {
            transform: translateX(-900px);
        }
        100% {
            transform: translateX(-260px);
        }
    }
    .myMainOneRight {
        /* margin-left: 77%; */
        top: 350px;
    }
    @keyframes aniRight {
        0% {
            transform: translateX(-900px);
        }
        100% {
            transform: translateX(550px);
        }
    }
    .myMainUnder {
        width: 1000px;
        margin-left: -3%;
        height: 150px;
    }
    .myMainUnderTop h2 {
        font-size: 1.5rem;
    }
    .myMainUnderBottom {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }
    .myMainUnderBottom .inp {
        width: 250px;
    }
    .myMainUnderSale {
        height: 80px;
        margin-left: 23%;
        top: 670px;
    }

    .myMainTwo {
        width: 100%;
        height: 37rem;
        background-color: #EEEEEE;
        border-radius: 70px;
        display: flex;
        justify-content: space-between;
    }
    .myMainTwoBlockLeft {
        width: 26rem;
        margin-top: 3%;
        margin-left: 2%;
    }
    .myMainTwoBlockLeft h2 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.8;
    }
    .myMainTwoBlockLeft .dark {
        width: 800px;
    }
    .hTwoOrange {
        color: #FA6312;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    .textP {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .myStarOne {
        margin-left: -26%;
        margin-top: -40%;
        transform: rotate(350deg);
        z-index: 999;
        width: 9rem;
    }
    .myMainTwoBlockRight {
        width: 30rem;
    }
    .myStarTwo {
        width: 6rem;
        margin-left: 86%;
        margin-top: -10%;
        z-index: 999;
    }
    .carusel {
        width: 30rem;
        margin-top: -7%;
        margin-left: 4%;
    }
    .myVector {
        margin-left: -300%;
    }

    .myMainThree {
        display: flex;
        margin-top: 3rem;
        margin-left: 10%;
    }
    .marsTwo {
        width: 31rem;
    }
    .myMainThreeRight {
        margin-top: 10px;
        margin-left: 15px;
    }
    .myMainThreeRightTop {
        display: block;
    }
    .myMainThreeRightTopLeftTop, .myMainThreeRightTopRightTop, .myMainThreeRightBottomLeftTop {
        padding-left: 190px;
        padding-top: 15px;
    }
    .myMainThreeRightTopLeftTop img, .myMainThreeRightTopRightTop img, .myMainThreeRightBottomLeftTop img {
        width: 40px;
        margin-top: -4px;
    }
    .myMainThreeRightTopLeftBottom h2, .myMainThreeRightTopRightBottom h2, .myMainThreeRightBottomLeftTop h2 {
        font-size: 3.4rem;
        margin-top: -20px;
    }
    .myMainThreeRightBottom {
        display: block;
    }
    .myMainThreeRightTopLeft, .myMainThreeRightTopRight, .myMainThreeRightBottomLeft {
        width: 260px;
        height: 156px;
    }
    .myMainThreeRightBottomRight {
        display: none;
    }
    .about {
        display: block;
        margin-left: 21rem;
        margin-top: 10rem;
    }
    .none-two {
        font-size: 4.2rem;
        font-weight: 600;
        line-height: 0.6;
        margin-left: 6%;
        margin-top: 40px;
        color: #EEEEEE;
    }
    .none-two span {
        color: #FA6312;
    }

    .myMainFour {
        margin-top: 170px;
        margin-left: 3rem;
    }
    .products {
        display: flex;
        margin-left: 6rem;
        margin-bottom: 2rem;
    }
    .productsMiddle h2 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.8;
        color: #EEEEEE;
    }
    .productsMiddle {
        margin-top: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .productsLeft img, .productsRight img {
        width: 70px;
    }
    .productsRight img {
        margin-top: 0.2rem;
    }
    .myMainFourHouses {
        display: flex;
        height: 30rem;
    }
    .imgTwo {
        margin-right: 1rem;
        flex: 3;
        border-radius: 32px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease;
    }
    .myMainFourHouses .imgTwo:hover {
        flex: 8;
        .count {
            display: block;
            text-align: right;
            margin-right: 20px;
            margin-top: 20px;
            color: #EEEEEE;
        };
        .nameHouse {
            display: block;
            color: #EEEEEE;
            margin-top: 20rem;
            font-size: 2rem;
            margin-left: 20px;
        }
    }
    .nameHouse {
        display: none;
    }
    .count {
        display: none;
    }

    .myMainFive {
        width: 100%;
        margin-left: 1rem;
    }
    .discount {
        width: 220px;
    }
    .discount img {
        width: 240px;
    }
    .discountImgOne {
        margin: auto;
        margin-top: -30px;
        margin-bottom: 240px;
    }
    .discountImgTwo {
        margin: auto;
        margin-top: -65px;
        margin-bottom: 260px;
    }
    .discountImgTwo img {
        width: 220px;
    }
    .discountImgThree {
        margin-top: -110px;
        margin-bottom: 200px;
    }
    .discountImgThree img {
        width: 220px;
    }
    .discountImgFour {
        margin: auto;
        margin-top: -60px;
        margin-bottom: 230px;
    }
    .discountImgFour img {
        width: 220px;
    }

    .myMainSix {
        margin-top: 150px;
    }
    .myMainSixTop h2 {
        font-size: 4rem;
        font-weight: 600;
        color: #EEEEEE;
        margin-left: 1rem;
    }
    h2 span {
        color: #FA6312;
    }
    .myMainSixBottom input  {
        background-color: black;
        border: 3.3px solid #EEEEEE;
        padding: 13px;
        border-radius: 15px;
        margin-right: 20px;
        font-size: 1.2rem;
        color: #EEEEEE;
        font-weight: 600;
        width: 190px;
    }
    .myMainSixBottom {
        margin-top: 50px;
    }
    .myMainSixBottom button {
        background-color: #FA6312;
        border: 3.3px solid #FA6312;
        padding: 13px;
        width: 260px;
        margin-left: 25px;
        border-radius: 13px;
        font-size: 1.2rem;
        color: #EEEEEE;
        font-weight: 600;
    }
    /* .myMainSevenBottomRight p {
        margin-left: -260px;
    }
    .myMainSevenBottomRight {
        margin-left: -91px;
    }
    .myMainSevenBottomMiddle img {
        margin-left: 110px;
    }
    .myMainSevenBottomRight img {
        margin-left: -38px;
    } */
    .myMainSevenBottomRight {
        display: none;
    }
    .myMainSevenBottomRightTwo {
        display: flex;
        justify-content: space-around;
        margin-left: -4px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .myHeader {
        margin-left: 6%;
    }
    .myHeader a {
        font-size: 1rem;
    }
    .headerLeft {
        width: 37%;
    }
    .headerRight {
        width: 40%;
    }
    .orangeButton {
        width: 150px;
        height: 40px;
        padding-top: 7px;
        border-radius: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .languageButton {
        width: 40px;
        height: 40px;
        padding-top: 6px;
    }
    .myImg .mars {
        margin-left: -2%;
    }
    .myMainOneMiddle .textOne {
        width: 800px;
        font-size: 3.5rem;
        margin-left: -2%;
    }
    .myMainOneMiddle .textTwo {
        font-size: 3.5rem;
        margin-left: 29%;
    }
    .myMainOneLeft {
        display: none;
    }
    .myMainOneRight {
        display: none;
    }
    .myMainUnder {
        width: 800px;
        margin-left: -3%;
    }
    .myMainUnderTop h2 {
        font-size: 1.5rem;
    }
    .myMainUnderBottom {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }
    .myMainUnderBottom .inp {
        display: none;
    }
    .myMainUnderBottom .btn {
        width: 300px;
        margin-top: -10px;
    }
    .myMainUnderSale {
        margin-left: 25%;
    }
    .myMainUnderSale h5 {
        font-size: 1.5rem;
    }
    .timer {
        font-size: 1.4rem;
    }

    .myMainTwo {
        height: 64rem;
        flex-wrap: wrap;
        margin-left: 7%;
    }
    .myMainTwoBlockLeft {
        width: 100%;
    }
    .myMainTwoBlockLeft h2 {
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.8;
    }
    .dark {
        margin-left: -20%;
    }
    .textP {
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: -3%;
    }
    .myStarOne {
        display: none;
    }
    .myMainTwoBlockRight {
        width: 100%;
    }
    .myStarTwo {
        margin-left: 91%;
        margin-top: -130%;
        transform: rotate(350deg);
    }
    .carusel {
        width: 34rem;
        margin-top: -4%;
        margin-left: 17%;
    }

    .myMainThree {
        display: block;
        margin-top: 3rem;
        margin-left: 10%;
    }
    .marsTwo {
        width: 31rem;
        margin-left: 5rem;
    }
    .myMainThreeRight {
        display: flex;
        margin-top: 10px;
        margin-left: -3.4rem;
    }
    .myMainThreeRightTop {
        display: flex;
    }
    .myMainThreeRightTopLeftTop, .myMainThreeRightTopRightTop, .myMainThreeRightBottomLeftTop {
        padding-left: 190px;
        padding-top: 15px;
    }
    .myMainThreeRightTopLeftTop img, .myMainThreeRightTopRightTop img, .myMainThreeRightBottomLeftTop img {
        width: 40px;
        margin-top: -4px;
        margin-left: -40px;
    }
    .myMainThreeRightTopLeftBottom h2, .myMainThreeRightTopRightBottom h2, .myMainThreeRightBottomLeftTop h2 {
        font-size: 3.4rem;
        margin-top: -20px;
    }
    .myMainThreeRightBottom {
        display: flex;
    }
    .myMainThreeRightTopLeft, .myMainThreeRightTopRight, .myMainThreeRightBottomLeft {
        width: 220px;
        height: 180px;
    }
    .myMainThreeRightBottomRight {
        display: none;
    }
    .about {
        display: block;
        margin-left: 13rem;
        margin-top: 10rem;
    }
    .none-two {
        font-size: 4.2rem;
        font-weight: 600;
        line-height: 0.6;
        margin-left: 6%;
        margin-top: 40px;
        color: #EEEEEE;
    }
    .none-two span {
        color: #FA6312;
    }

    .myMainFour {
        margin-top: 170px;
        margin-left: 5vw;
    }
    .products {
        display: flex;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
    .productsMiddle h2 {
        font-size: 3.3rem;
        font-weight: 600;
        line-height: 0.8;
        color: #EEEEEE;
    }
    .productsMiddle {
        margin-top: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .productsLeft img, .productsRight img {
        width: 70px;
    }
    .productsRight img {
        margin-top: 0.2rem;
    }
    .myMainFourHouses {
        display: flex;
        height: 30rem;
        margin-left: 1rem;
    }
    .imgTwo {
        margin-right: 1rem;
        width: 20vw;
        border-radius: 32px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease;
    }
    .myMainFourHouses .imgTwo:hover {
        width: 70vw;
        .count {
            display: block;
            text-align: right;
            margin-right: 20px;
            margin-top: 20px;
            color: #EEEEEE;
        };
        .nameHouse {
            display: block;
            color: #EEEEEE;
            margin-top: 20rem;
            font-size: 2rem;
            margin-left: 20px;
        }
    }
    .nameHouse {
        display: none;
    }
    .count {
        display: none;
    }
    
    .myMainFive {
        width: 100%;
        height: 230px;
        margin-left: 1rem;
    }
    .discount {
        width: 180px;
        height: 140px;
    }
    .discount img {
        width: 200px;
    }
    .discountImgOne {
        margin: auto;
        margin-left: -5px;
        margin-top: -20px;
        margin-bottom: 240px;
    }
    .discountImgTwo {
        margin: auto;
        margin-top: -45px;
        margin-bottom: 250px;
    }
    .discountImgTwo img {
        width: 180px;
    }
    .discountImgThree {
        margin-top: -80px;
        margin-bottom: 200px;
    }
    .discountImgThree img {
        width: 180px;
    }
    .discountImgFour {
        margin: auto;
        margin-top: -40px;
        margin-bottom: 230px;
    }
    .discountImgFour img {
        width: 180px;
    }
    .content {
        position: relative;
        color: #EEEEEE;
        font-size: 1.3rem;
        text-align: center;
        margin-top: -190px;
        display: none;
    }
    .discount:hover .content {
        display: block;
        transition-delay: 0.3s;
    }

    .myMainSixTop h2 {
        font-size: 3.2rem;
    }
    .myMainSixBottom input  {
        background-color: black;
        border: 3.3px solid #EEEEEE;
        padding: 13px;
        border-radius: 15px;
        margin-right: 10px;
        font-size: 1.2rem;
        color: #EEEEEE;
        font-weight: 600;
        width: 160px;
    }
    .myMainSixBottom {
        margin-top: 50px;
        width: 100%;
        margin-left: 10px;
    }
    .myMainSixBottom button {
        background-color: #FA6312;
        border: 3.3px solid #FA6312;
        padding: 13px;
        width: 170px;
        margin-left: 3px;
        border-radius: 13px;
        font-size: 1.1rem;
        color: #EEEEEE;
        font-weight: 600;
    }

    .myMainSeven {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .myMainSevenTop h2 {
        font-size: 4rem;
        font-weight: 600;
        color: #EEEEEE;
        margin-left: 40px;
    }
    .myMainSevenBottomLeft img, .myMainSevenBottomMiddle img, .myMainSevenBottomRight img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .myMainSevenBottom p {
        color: #EEEEEE;
        font-size: 1.4rem;
        padding-top: 10px;
    }
    .myMainSevenBottom {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .myMainSevenBottomLeft, .myMainSevenBottomMiddle, .myMainSevenBottomRight {
        display: flex;
        justify-content: space-around;
    }
    .myMainSevenBottomMiddle p {
        margin-left: -40px;
    }
    .myMainSevenBottomRight p {
        margin-left: -39px;
    }
    .myMainSevenBottomRight {
        margin-left: -15px;
    }

    .myMainSevenBottomRight {
        display: none;
    }
    .myMainSevenBottomRightTwo {
        display: flex;
        justify-content: space-around;
        margin-left: 16px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .myHeader {
        width: 100%;
        margin-left: 79%;
    }
    .myHeader a {
        font-size: 1.6rem;
    }
    .none {
        display: none;
    }
    .headerLeft {
        width: 1%;
        display: none;
    }
    .headerMiddle {
        margin-left: -300px;
        margin-top: -10px;
    }
    .headerRight {
        width: 70%;
    }
    .orangeButton {
        width: 320px;
        height: 60px;
        margin-left: -150px;
        padding-top: 9px;
        border-radius: 12px;
    }
    .languageButton {
        width: 70px;
        height: 60px;
        padding-top: 8px;
    }
    .myImg .mars {
        width: 900px;
        margin-left: 35%;
    }
    .myMainOneMiddle .textOne {
        width: 1000px;
        font-size: 5rem;
        top: 310px;
        margin-left: 17%;
    }
    .myMainOneMiddle .textTwo {
        width: 1000px;
        font-size: 5rem;
        top: 410px;
        margin-left: 50%;
    }
    .myMainOneLeft {
        display: none;
    }
    .myMainOneRight {
        display: none;
    }
    .myMainUnder {
        width: 1000px;
        height: 380px;
        margin-left: 16%;
        top: 560px;
    }
    .myMainUnderTop h2 {
        font-size: 2rem;
    }
    .myMainUnderBottom {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    .myMainUnderBottom .inp {
        font-size: 2rem;
        padding: 26px;
        border-radius: 30px;
    }
    .myMainUnderBottom input {
        margin-bottom: 10px;
    }
    .myMainUnderBottom .btn {
        font-size: 2rem;
        padding: 5px 137px 5px 140px;
        border-radius: 30px;
    }
    .myMainUnderSale {
        width: 800px;
        top: 950px;
        margin-left: 44%;
    }
    .myMainUnderSale h5, .myMainUnderSale .timer {
        font-size: 2rem;
    }

    .myMainTwo {
        height: 75rem;
        flex-wrap: wrap;
        margin-left: 30%;
        margin-top: 35%;
    }
    .myMainTwoBlockLeft {
        width: 90%;
    }
    .myMainTwoBlockLeft h2 {
        text-align: center;
        font-size: 5rem;
        font-weight: 600;
        line-height: 0.8;
    }
    .dark {
        margin-left: -30%;
    }
    .textP {
        font-size: 1.7rem;
        font-weight: 600;
        margin-left: -3%;
    }
    .myStarOne {
        display: none;
    }
    .myMainTwoBlockRight {
        width: 100%;
    }
    .myStarTwo {
        margin-left: 93%;
        margin-top: -115%;
        transform: rotate(350deg);
    }
    .carusel {
        width: 38rem;
        margin-top: -2%;
        margin-left: 21%;
    }

    .myMainThree {
        display: block;
        margin-top: 3rem;
        margin-left: 10%;
    }
    .marsTwo {
        width: 31rem;
        margin-left: 5rem;
    }
    .myMainThreeRight {
        display: flex;
        margin-top: 10px;
        margin-left: -3.4rem;
    }
    .myMainThreeRightTop {
        display: flex;
    }
    .myMainThreeRightTopLeftTop, .myMainThreeRightTopRightTop, .myMainThreeRightBottomLeftTop {
        padding-left: 190px;
        padding-top: 15px;
    }
    .myMainThreeRightTopLeftTop img, .myMainThreeRightTopRightTop img, .myMainThreeRightBottomLeftTop img {
        width: 40px;
        margin-top: -4px;
    }
    .myMainThreeRightTopLeftBottom h2, .myMainThreeRightTopRightBottom h2, .myMainThreeRightBottomLeftTop h2 {
        font-size: 3.4rem;
        margin-top: -20px;
    }
    .myMainThreeRightBottom {
        display: flex;
    }
    .myMainThreeRightTopLeft, .myMainThreeRightTopRight, .myMainThreeRightBottomLeft {
        width: 220px;
        height: 156px;
    }
    .myMainThreeRightBottomRight {
        display: none;
    }
    .about {
        display: block;
        margin-left: 16rem;
        margin-top: 10rem;
    }
    .none-two {
        font-size: 4.2rem;
        font-weight: 600;
        line-height: 0.6;
        margin-left: 6%;
        margin-top: 40px;
        color: #EEEEEE;
    }
    .none-two span {
        color: #FA6312;
    }

    .myMainFour {
        margin-top: 170px;
        margin-left: 5vw;
    }
    .products {
        display: flex;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
    .productsMiddle h2 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.8;
        color: #EEEEEE;
    }
    .productsMiddle {
        margin-top: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .productsLeft img, .productsRight img {
        width: 70px;
    }
    .productsRight img {
        margin-top: 0.2rem;
    }
    .myMainFourHouses {
        display: flex;
        height: 30rem;
        margin-left: 3rem;
    }
    .imgTwo {
        margin-right: 1rem;
        width: 20vw;
        border-radius: 32px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease;
    }
    .myMainFourHouses .imgTwo:hover {
        width: 70vw;
        .count {
            display: block;
            text-align: right;
            margin-right: 20px;
            margin-top: 20px;
            color: #EEEEEE;
        };
        .nameHouse {
            display: block;
            color: #EEEEEE;
            margin-top: 20rem;
            font-size: 2rem;
            margin-left: 20px;
        }
    }
    .nameHouse {
        display: none;
    }
    .count {
        display: none;
    }
    .myMainFive {
        width: 100%;
        height: 230px;
        margin-left: 1rem;
    }
    .discount {
        width: 180px;
        height: 140px;
    }
    .discount img {
        width: 200px;
    }
    .discountImgOne {
        margin: auto;
        margin-left: -5px;
        margin-top: -20px;
        margin-bottom: 240px;
    }
    .discountImgTwo {
        margin: auto;
        margin-top: -45px;
        margin-bottom: 250px;
    }
    .discountImgTwo img {
        width: 180px;
    }
    .discountImgThree {
        margin-top: -80px;
        margin-bottom: 200px;
    }
    .discountImgThree img {
        width: 180px;
    }
    .discountImgFour {
        margin: auto;
        margin-top: -40px;
        margin-bottom: 230px;
    }
    .discountImgFour img {
        width: 180px;
    }
    .content {
        position: relative;
        color: #EEEEEE;
        font-size: 1.3rem;
        text-align: center;
        margin-top: -190px;
        display: none;
    }
    .discount:hover .content {
        display: block;
        transition-delay: 0.3s;
    }

    .myMainSixBottom input  {
        background-color: black;
        border: 3.3px solid #EEEEEE;
        padding: 13px;
        border-radius: 15px;
        margin-right: 10px;
        font-size: 1.2rem;
        color: #EEEEEE;
        font-weight: 600;
        width: 160px;
    }
    .myMainSixBottom {
        margin-top: 50px;
        width: 100%;
        margin-left: 10px;
    }
    .myMainSixBottom button {
        background-color: #FA6312;
        border: 3.3px solid #FA6312;
        padding: 13px;
        width: 170px;
        margin-left: 3px;
        border-radius: 13px;
        font-size: 1.2rem;
        color: #EEEEEE;
        font-weight: 600;
    }

    .myMainSeven {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .myMainSevenTop h2 {
        font-size: 4rem;
        font-weight: 600;
        color: #EEEEEE;
        margin-left: 40px;
    }
    .myMainSevenBottomLeft img, .myMainSevenBottomMiddle img, .myMainSevenBottomRight img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .myMainSevenBottom p {
        color: #EEEEEE;
        font-size: 1.4rem;
        padding-top: 10px;
    }
    .myMainSevenBottom {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .myMainSevenBottomLeft, .myMainSevenBottomMiddle, .myMainSevenBottomRight {
        display: flex;
        justify-content: space-around;
    }
    .myMainSevenBottomMiddle p {
        margin-left: -40px;
    }
    .myMainSevenBottomRight p {
        margin-left: -39px;
    }
    .myMainSevenBottomRight {
        margin-left: -23px;
    }
}
@media (min-width: 320px) and (max-width: 576px) {
    .myHeader {
        width: 50rem;
        margin-left: 17%;
    }
    .myHeader a {
        font-size: 1.6rem;
    }
    .none {
        display: none;
    }
    .headerLeft {
        width: 1%;
        display: none;
    }
    .headerMiddle {
        margin-left: -70px;
        margin-top: -10px;
    }
    .headerRight {
        width: 70%;
    }
    .orangeButton {
        width: 320px;
        height: 60px;
        margin-left: -10px;
        padding-top: 9px;
        border-radius: 12px;
    }
    .languageButton {
        width: 70px;
        height: 60px;
        padding-top: 8px;
    }
    .myImg .mars {
        width: 900px;
        margin-left: 44%;
    }
    .myMainOneMiddle .textOne {
        width: 1000px;
        font-size: 4rem;
        top: 310px;
        margin-left: 40%;
    }
    .myMainOneMiddle .textTwo {
        width: 1000px;
        font-size: 4rem;
        top: 410px;
        margin-left: 120%;
    }
    .myMainOneLeft {
        display: none;
    }
    .myMainOneRight {
        display: none;
    }
    .myMainUnder {
        width: 1000px;
        height: 380px;
        margin: auto;
        margin-left: 30%;
        top: 560px;
    }
    .myMainUnderTop h2 {
        font-size: 2rem;
    }
    .myMainUnderBottom {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    .myMainUnderBottom .inp {
        font-size: 2rem;
        padding: 26px;
        border-radius: 30px;
    }
    .myMainUnderBottom input {
        margin-bottom: 10px;
    }
    .myMainUnderBottom a {
        height: 100px;
        font-size: 2rem;
        padding: 25px 137px 0 140px;
        border-radius: 30px;
        text-align: center;
    }
    .myMainUnderSale {
        width: 800px;
        top: 950px;
        margin-left: 61%;
    }
    .myMainUnderSale h5, .myMainUnderSale .timer {
        font-size: 2rem;
    }
    .myMainUnderSale .timer {
        margin-top: -4px;
    }

    .myMainTwo {
        width: 1000px;
        height: 79rem;
        flex-wrap: wrap;
        margin-left: 30%;
        margin-top: 60%;
    }
    .myMainTwoBlockLeft {
        width: 90%;
    }
    .myMainTwoBlockLeft h2 {
        text-align: center;
        font-size: 5rem;
        font-weight: 600;
        line-height: 0.8;
    }
    .dark {
        margin-left: -20%;
    }
    .hTwoOrange {
        margin-left: 20%;
    }
    .textP {
        font-size: 1.9rem;
        font-weight: 600;
        margin-left: -3%;
    }
    .myStarOne {
        display: none;
    }
    .myMainTwoBlockRight {
        width: 100%;
    }
    .myStarTwo {
        margin-left: 93%;
        margin-top: -115%;
        transform: rotate(350deg);
    }
    .carusel {
        width: 38rem;
        margin-top: -2%;
        margin-left: 21%;
    }
    .myMainThree {
        display: block;
        margin-top: 3rem;
        margin-left: 10%;
    }
    .marsTwo {
        width: 31rem;
        margin-left: 20rem;
        margin-top: 40px;
    }

    .myMainThreeRight {
        display: flex;
        margin-top: 70px;
        margin-left: 12rem;
    }
    .myMainThreeRightTop {
        display: flex;
    }
    .myMainThreeRightTopLeftTop, .myMainThreeRightTopRightTop, .myMainThreeRightBottomLeftTop {
        padding-left: 190px;
        padding-top: 15px;
    }
    .myMainThreeRightTopLeftTop img, .myMainThreeRightTopRightTop img, .myMainThreeRightBottomLeftTop img {
        width: 40px;
        margin-top: -4px;
        margin-left: -40px;
    }
    .myMainThreeRightTopLeftBottom h2, .myMainThreeRightTopRightBottom h2, .myMainThreeRightBottomLeftTop h2 {
        font-size: 3.4rem;
        margin-top: -20px;
    }
    .myMainThreeRightBottom {
        display: flex;
    }
    .myMainThreeRightTopLeft, .myMainThreeRightTopRight, .myMainThreeRightBottomLeft {
        width: 220px;
        height: 180px;
    }
    .myMainThreeRightBottomRight {
        display: none;
    }
    .about {
        width: 600px;
        display: block;
        margin-left: 24rem;
        margin-top: 10rem;
    }
    .none-two {
        font-size: 4.2rem;
        font-weight: 600;
        line-height: 0.6;
        margin-left: 6%;
        margin-top: 40px;
        color: #EEEEEE;
    }
    .none-two span {
        color: #FA6312;
    }

    .myMainFour {
        margin-top: 170px;
        margin-left: 5vw;
    }
    .products {
        display: flex;
        margin-left: 17rem;
        margin-bottom: 2rem;
        width: 700px;
    }
    .productsMiddle h2 {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 0.8;
        color: #EEEEEE;
    }
    .productsMiddle {
        margin-top: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .productsLeft img, .productsRight img {
        width: 70px;
    }
    .productsRight img {
        margin-top: 0.2rem;
    }
    .myMainFourHouses {
        display: flex;
        height: 30rem;
        width: 50vw;
        margin-left: 27rem;
    }
    .imgTwo {
        margin-right: 1rem;
        width: 50vw;
        border-radius: 32px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease;
    }
    .myMainFourHouses .imgTwo:hover {
        width: 70vw;
        .count {
            display: block;
            text-align: right;
            margin-right: 20px;
            margin-top: 20px;
            color: #EEEEEE;
        };
        .nameHouse {
            display: block;
            color: #EEEEEE;
            margin-top: 20rem;
            font-size: 2rem;
            margin-left: 20px;
        }
    }
    .nameHouse {
        display: none;
    }
    .count {
        display: none;
    }

    .myMainFour {
        width: 800px;
    }
    .myMainFourHouses {
        margin-left: 65vw;
    }

    .myMainFive {
        width: 900px;
        height: 230px;
        margin-left: 10rem;
    }
    .discount {
        width: 180px;
        height: 140px;
    }
    .discount img {
        width: 200px;
    }
    .discountImgOne {
        margin: auto;
        margin-left: -5px;
        margin-top: -20px;
        margin-bottom: 240px;
    }
    .discountImgTwo {
        margin: auto;
        margin-top: -45px;
        margin-bottom: 250px;
    }
    .discountImgTwo img {
        width: 180px;
    }
    .discountImgThree {
        margin-top: -80px;
        margin-bottom: 200px;
    }
    .discountImgThree img {
        width: 180px;
    }
    .discountImgFour {
        margin: auto;
        margin-top: -40px;
        margin-bottom: 230px;
    }
    .discountImgFour img {
        width: 180px;
    }
    .content {
        position: relative;
        color: #EEEEEE;
        font-size: 1.3rem;
        text-align: center;
        margin-top: -190px;
        display: none;
    }
    .discount:hover .content {
        display: block;
        transition-delay: 0.3s;
    }

    .myMainSix {
        width: 800px;
        margin-left: 130px;
    }
    .myMainSixBottom input  {
        background-color: black;
        border: 3.3px solid #EEEEEE;
        padding: 13px;
        border-radius: 15px;
        margin-right: 10px;
        font-size: 1.2rem;
        color: #EEEEEE;
        font-weight: 600;
        width: 180px;
    }
    .myMainSixTop h2 {
        font-size: 3rem;
        font-weight: 600;
        color: #EEEEEE;
        margin-left: 2rem;
    }
    .myMainSixTop {
        width: 1000px;
    }
    .myMainSixBottom {
        margin-top: 50px;
        width: 100%;
        margin-left: 50px;
    }
    .myMainSixBottom button {
        background-color: #FA6312;
        border: 3.3px solid #FA6312;
        padding: 13px;
        width: 190px;
        margin-left: 3px;
        border-radius: 13px;
        font-size: 1.2rem;
        color: #EEEEEE;
        font-weight: 600;
    }

    .myMainSevenTop h2 {
        font-size: 4rem;
        font-weight: 600;
        color: #EEEEEE;
        margin-left: 210px;
        width: 800px;
    }
    .myMainSeven {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .myMainSevenBottomLeft img, .myMainSevenBottomMiddle img, .myMainSevenBottomRight img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .myMainSevenBottom p {
        color: #EEEEEE;
        font-size: 1.4rem;
        padding-top: 10px;
    }
    .myMainSevenBottom {
        width: 960px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-left: 100px;
    }
    .myMainSevenBottomLeft, .myMainSevenBottomMiddle, .myMainSevenBottomRight {
        display: flex;
        justify-content: space-around;
    }
}