* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/background.png);
    font-family: "Montserrat Alternates", serif;
    font-weight: 500;
    font-style: normal;
}

button {
    border: 3px solid #FA6312;
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    background-color: #FA6312;
    color: #eae2dd;
    font-weight: 600;
    font-size: 20px;
    transition-duration: 0.1s;
    text-decoration: none;
    box-shadow: 0 7px 0px #933d0f;
    position: relative;
    top: 0px;
    margin: 20px;
}
button:active {
    top: 3px;
    box-shadow: 0 2px 0px #933d0f;
}
.myMainThanksTop img {
    width: 200px;
}
.myMainThanksBottom h2 {
    color: #EEEEEE;
}
.myMainThanksBottom h2 span {
    color: #FA6312;
}
.myMainThanksBottom p {
    color: #EEEEEE;
}