* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Vmake1738242988733.png);
    font-family: "Montserrat Alternates", serif;
    font-weight: 500;
    font-style: normal;
}

/*.myMainThanks {
    height: 400px;
    margin-top: 10px;
}
.myMainThanksImg {
    margin-top: 70px;
}
h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #EEEEEE;
    text-align: center;
    margin-top: 20px;
}
h2 span {
    color: #FA6312;
}
p {
    font-size: 1.1rem;
    color: #EEEEEE;
    text-align: center;
    margin-top: 20px;
} */

button {
    background-color: #FA6312;
    border: 3.3px solid #FA6312;
    padding: 10px;
    width: 150px;
    margin-left: 25px;
    border-radius: 33px;
    font-size: 1.2rem;
    color: #EEEEEE;
    font-weight: 600;
    margin-top: 30px;
}
.myMainThanksTop img {
    width: 200px;
}
.myMainThanksBottom h2 {
    color: #EEEEEE;
}
.myMainThanksBottom h2 span {
    color: #FA6312;
}
.myMainThanksBottom p {
    color: #EEEEEE;
}